h1 {
  color: #0000ff;
  font-size: 150%;
  background-color: #b3b3b3;
}

header {
  background-color: #666;
  text-align: center;
}

header li {
  list-style: none;
}

p {
  text-align: justify;
}

span {
  height: 50px;
  width: 75px;
  background: #00ff00;
  /* display: inline-block; */
  /* float: left; */
}

div {
  height: 100px;
  width: 45%;
  background: #00ffff;
  /* display: inline-block; */
}

p {
  background: #ff00ff;
  width: 200px;
  height: 100px;
}
